---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Tags from "../../components/Tags.astro";
import Posts from "../../components/Posts.astro";

const pageTitle = "My astro learning blog.";

import PageInfo from "../../components/PageInfo.astro";

export async function getStaticPaths({ paginate }) {
  const allPosts = await Astro.glob("./*.md"); // error no matching files
  const sortedPosts = allPosts.sort((a, b) => {
    return b.frontmatter.pubDate.localeCompare(a.frontmatter.pubDate);
  });

  return paginate(sortedPosts, { pageSize: 3 });
}

const { page } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
  <PageInfo
    pageTitle="Welcome to My Blog 👋"
    pageDesc="Thank you for visiting my blog! Here, I'll be sharing my experiences, insights, and thoughts on various topics."
  />
  <div id="blog-posts">
    <Posts page={page} />
    <Tags />
  </div>
</BaseLayout>

<style lang="scss">
  #blog-posts {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 30%;
    gap: 3rem;
  }
</style>
