@import url("./reset.css");
@import url("./typography.css");

:root {
  --clr-primary: #004e98;
  --clr-secondary: #3a6ea5;
  --clr-tertiary: #c0c0c0;
  --clr-bg: #ebebeb;
  --clr-accent: #ff6700;
}

html {
  background-color: var(--clr-bg);
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1100px;
  padding-inline: 1rem;
  line-height: 1.5;
  color: #444;
}

#main {
  flex: 1;
}

.expanded {
  display: unset;
}
