@import url('./reset.css');
@import url('./typography.css');

:root {
  --clr-primary: #004e98;
  --clr-secondary: #3a6ea5;
  --clr-tertiary: #c0c0c0;
  --clr-bg: #ebebeb;
  --clr-accent: #ff6700;
}

html {
  background-color: var(--clr-bg);
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: #444;
  background-color: var(--clr-bg);
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1195%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(235%2c 235%2c 235%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c438.006C86.6%2c440.851%2c168.011%2c417.194%2c249.882%2c388.824C354.953%2c352.415%2c500.773%2c350.927%2c545.326%2c249.042C590.064%2c146.733%2c480.829%2c42.329%2c448.082%2c-64.424C421.335%2c-151.617%2c410.116%2c-238.876%2c370.462%2c-321.007C318.473%2c-428.686%2c288.78%2c-564.936%2c181.213%2c-617.156C72.784%2c-669.795%2c-67.063%2c-644.268%2c-171.513%2c-584.119C-269.327%2c-527.792%2c-301.814%2c-407.341%2c-355.53%2c-308.069C-397.888%2c-229.787%2c-438.083%2c-152.894%2c-452.383%2c-65.043C-466.898%2c24.134%2c-477.756%2c118.886%2c-438.252%2c200.143C-399.099%2c280.677%2c-318.249%2c330.026%2c-239.547%2c372.742C-165.307%2c413.036%2c-84.424%2c435.232%2c0%2c438.006' fill='%23dfdfdf'%3e%3c/path%3e%3cpath d='M1920 1816.571C2053.879 1785.24 2121.395 1641.4009999999998 2217.763 1543.328 2291.661 1468.123 2369.264 1400.806 2419.583 1308.152 2472.8869999999997 1210.001 2530.218 1105.091 2515.922 994.319 2501.56 883.0409999999999 2424.291 790.7760000000001 2342.85 713.598 2266.712 641.446 2166.279 611.404 2069.404 571.177 1960.069 525.776 1855.42 442.60699999999997 1738.76 462.75199999999995 1619.557 483.336 1528.718 581.184 1455.19 677.24 1384.5810000000001 769.483 1353.127 881.271 1331.0900000000001 995.328 1308.079 1114.422 1294.242 1234.423 1324.856 1351.7930000000001 1359.554 1484.821 1408.461 1622.7530000000002 1516.813 1707.371 1628.82 1794.8429999999998 1781.623 1848.955 1920 1816.571' fill='%23f7f7f7'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1195'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover; */
}

#main {
  flex: 1;
}

.expanded {
  display: unset;
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
