<div class="hamburger">
  <span class="hamburger__line"></span>
  <span class="hamburger__line"></span>
  <span class="hamburger__line"></span>
</div>

<style lang="scss">
  .hamburger {
    padding-right: 20px;
    cursor: pointer;

    &__line {
      display: block;
      width: 25px;
      height: 3px;
      margin-bottom: 5px;
      background-color: #222;
    }
  }
  @media screen and (min-width: 636px) {
    .hamburger {
      display: none;
    }
  }
</style>
