---
import Navigation from '../components/Navigation.astro';
import Hambuger from '../components/Hamburger.astro';
---

<header class="header glass">
  <div class="header__logo">
    <a href="/" class="nav-title text-size-h5">Lavacoder</a>
  </div>
  <nav>
    <Hambuger />
    <Navigation />
  </nav>
</header>

<style lang="scss">
  .header {
    min-height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    margin-top: 1rem;
    padding: 1rem;

    &__logo {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }

    .nav-title {
      text-decoration: none;
      color: var(--clr-primary);
      font-weight: bold;
      margin: 0;
    }
  }
</style>
