---
import Navigation from "../components/Navigation.astro"
---
<header>
  <h3 class="nav-title">Lavacoder</h3>
  <nav>
    <Navigation/>
  </nav>
</header>

<style lang="scss">
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-title {
      color: #333;
      font-weight: bold;
    }
  }
</style>