<div class="nav-links">
  <a href="/about" class="nav-links__link">About Me</a>
  <a href="/blog" class="nav-links__link blog-link">Blog</a>
</div>

<style lang="scss">
  .nav-links {
    display: none;
    gap: 1rem;

    &__link {
      text-decoration: none;
      color: inherit;
      padding: 0.25rem 0.75rem;
      border-radius: 4px;
      font-weight: 500;
      transition: all 0.2s ease;

      &:hover {
        background-color: var(--clr-secondary);
        color: #fff;
      }

      .blog-link {
        color: var(--clr-accent);
      }
    }
  }

  @media screen and (min-width: 636px) {
    .nav-links {
      display: flex;
    }
  }
</style>
