<nav class="nav-links" aria-label="site navigation">
  <a href="/about" class="nav-links__link" data-astro-prefetch>About Me</a>
  <a href="/blog" class="nav-links__link blog-link" data-astro-prefetch>Blog</a>
  <a href="/blog" class="nav-links__link contacts-link" data-astro-prefetch
    >Contacts</a
  >
</nav>

<style lang="scss">
  .nav-links {
    display: none;
    gap: 0.5rem;

    &__link {
      text-decoration: none;
      color: inherit;
      padding: 0.25rem 0.75rem;
      border-radius: 4px;
      font-weight: 500;
      transition: all 0.2s ease;

      &:hover {
        background-color: var(--clr-secondary);
        color: #fff;
      }
    }
    .contacts-link {
      border: 1px solid var(--clr-accent);
      font-weight: normal;
      color: var(--clr-accent);

      &:hover {
        background-color: var(--clr-accent);
        color: #fff;
      }
    }
  }

  @media screen and (min-width: 636px) {
    .nav-links {
      display: flex;
    }
  }
</style>
