---
const { prev, next } = Astro.props;
---

<nav aria-label="Blog pages" class="post-nav">
  {
    prev && (
      <a href={prev} class="post-nav__link">
        <i class="ti ti-chevron-left" />
        <span>newest posts</span>
      </a>
    )
  }
  {
    next && (
      <a href={next} class="post-nav__link">
        <span>older posts</span>
        <i class="ti ti-chevron-right" />
      </a>
    )
  }
</nav>

<style lang="scss">
  .post-nav {
    font-weight: bold;

    &__link {
      text-decoration: none;
      color: var(--clr-primary);
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }

    .ti {
      font-size: 20px;
      font-weight: bold;
    }
  }
</style>
