---
const { prev, next } = Astro.props;
---

<nav aria-label="Blog pages" class="post-nav">
    {
        prev && (
            <a href={prev} class="link">
                <i class="ti ti-chevron-left" />
                <span>newest posts</span>
            </a>
        )
    }
    {
        next && (
            <a href={next} class="link">
                <span>older posts</span>
                <i class="ti ti-chevron-right" />
            </a>
        )
    }
</nav>

<style lang="scss">
    .post-nav {
        font-weight: bold;
        display: flex;
        gap: 1rem;
        margin-block: 1rem;

        .ti {
            font-size: 20px;
            font-weight: bold;
        }
    }
</style>
