---
import BlogPost from "./BlogPost.astro";
const { page } = Astro.props;
---

<div class="posts">
  {page.data.map((post) => <BlogPost url={post.url} {...post.frontmatter} />)}
</div>

<style>
  .posts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
