---
import "../styles/globals.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:wght@500;600;700&family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css"
      rel="stylesheet"
    />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <div id="main">
      <slot />
    </div>
    <Footer />

    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>

<!-- <style lang="scss">
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    #main {
      flex: 1;
    }
  }
</style> -->
